*~
*.~*
*.egg-info
*.lprof
*.orig
*.profile
*.pyc
*__pycache__*
.cache
.coverage
.DS_Store
.idea
.vscode
.project
.pydevproject
.pytest_cache
.python-version
.Python
.settings
.sonar
.tags
.tags_sorted_by_file
.tox
